ul {

    
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    width: 100%;
    overflow: hidden;

}

li{

    display:inline-block;
    width: 33.2%;
    border: solid 1px black;
    background-color: #2C262C;
    float: left;

}

li a {

    text-decoration: none;
    color: whitesmoke;
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

main h1 {

    text-align: center;
    font-size: 30px;
    background-color: #77160D;
    color: whitesmoke;
    padding : 20px;

} 

#sec1 {

    margin: 0;
    
}
#p1 {

    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    color: white;

}
body {

    background-color: #5A595A;
    margin: 1%;

}

header {

    margin:0;
    width: 100%;
}

#p2 {

    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    background-color:#77160D ;
    padding: 20px;
    color: whitesmoke;

}