body {

    margin:0px;
    padding: 0;

}
ul {

    
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    width: 100%;
    overflow: hidden;

}

ul li{

    display:inline-block;
    width: 33.2%;
    border: solid 1px black;
    background-color: #2C262C;
    float: left;

}

li a {

    text-decoration: none;
    color: whitesmoke;
    display: block;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

main h1 {

    text-align: center;
    font-size: 30px;
    background-color: #77160D;
    color: whitesmoke;
    padding : 20px;
    

} 

#sec1 {

    margin-top: 10px ;
    
}
#p1 {

    text-align: center;
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    font-size: 20px;
    color: white;

}
body {

    background-color: #5A595A;
    margin: 0%;
    

}

header {

    margin:0;
    width: 100%;
}

#p2 {

    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    background-color:#77160D ;
    padding: 20px;
    color: whitesmoke;

}

footer {

    background-color: #77160D ;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    margin-top: auto;

}

main {

    margin-bottom:20% ;

}

#sec2 {

    margin-top: 20px;

}

ol li {

    color: white;
    margin-top: 5px;

}